![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
print(schools.head())

# Start coding here...
# best math school
best_math_schools = schools[['school_name','average_math']][schools['average_math'] > 640].sort_values(["average_math"],ascending=[False])
print(best_math_schools)
# adding schools_total
schools['total_SAT'] = schools['average_math'] + schools['average_writing'] + schools['average_reading']
top_10_schools = schools[["school_name","total_SAT"]].sort_values("total_SAT",ascending=False).head(10)
print(top_10_schools)
# largest std borough
schools_group_std_mean_std_of_total_SAT = schools.groupby('borough')['total_SAT'].agg(["mean","std"]).round(2)
# get num schools in borough
schools_group_std_mean_std_of_total_SAT['num_schools'] = schools['borough'].value_counts()
max_std = schools_group_std_mean_std_of_total_SAT['std'].max()
largest_std_dev =  schools_group_std_mean_std_of_total_SAT[schools_group_std_mean_std_of_total_SAT['std'] == max_std]
# rename columns
largest_std_dev = largest_std_dev.rename(columns={"mean": "average_SAT", "std": "std_SAT", "num_schools": "num_schools"})
print(largest_std_dev)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889
           average_SAT  std_SAT  num_schools
borough
Manhattan      1340.13   230.29           89